@font-face {
    font-family: 'zabars';
    src:url('fonts/Zabars.ttf') format('truetype'); 
} 



body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url('img/5_background/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    font-family: 'zabars', Arial, Helvetica, sans-serif;

} 


canvas {
    background-color: black;
    position: relative;
    display: block;
}  


h1{
    font-size: 48px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgba(0,0,0, 0.5);
    text-align: center;
}

.start-screen {
    width: 50vw;
}


.start {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}


#overlay {
    /* background-image: url('img/9_intro_outro_screens/start/startscreen_1.png'); */
    background-size: cover;
    background-position: right;
    width: 720px;
    height: 480px; 
    display: flex; 
    justify-content: center;
    position: absolute;
    top: 0px;
}


.start-btn {
    text-align: center;
    background-color: rgba(255, 222, 0, 0.9);
    border: 1px solid #000000;
    box-shadow: 6px 6px 0px #000000;
    transform: skewX(-15deg) translate(-50%, -50%);
    font-size: 30px;
    padding: 6px;
    letter-spacing: 6px;
    cursor: pointer;
}

.restart-btn {
    text-align: center;
    background-color: rgba(255, 222, 0, 0.9);
    border: 1px solid #000000;
    box-shadow: 6px 6px 0px #000000;
    transform: skewX(-15deg) translate(100%, -940%);
    font-size: 30px;
    padding: 6px;
    letter-spacing: 6px;
    cursor: pointer;
    
}

button {
    background: none;
    border: none;
}


.control-description{

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: absolute;
    bottom: 15px;
    right: 0;
    left: 20px;
}

.control-description span {
    margin-right: 20px;
    margin-left: 10px;
    font-size: 32px;
}

.image-control-description{
    height: 50px;
    width: 52px;
}

.mobile-content {
    display: flex;
    justify-content: space-between;
} 

.d-none {
    display: none !important;
  }


 /* Smartphones Canvas*/
 @media only screen and (max-width: 720px){
    canvas {
        width: 100%;
    }
 }

 @media only screen and (max-height: 480px){
    canvas{
        height: 100vh;
    }
}

/* Smartphones */

@media(max-width: 1000px){
    .control-description{
        display: none;
    }
}

@media(max-width: 1000px){
    .start-screen{
        width: 85vw;
    }
}

@media(max-width: 999px){
    .mobile-hud{
        display: unset !important;
    }
}


@media(max-width: 430px){
    .start-btn{
        font-size: 18px;
    }
}



















